/* common */
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* small screen */
/* header */
header {
  display: flex;
  padding: 0 16px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  line-height: 64px;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide{
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .9);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transition .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay a {
  text-decoration: none;
}

.pc-menu {
  display: none;
}

/* main */
.input-container {
  width: 80%;
  margin: 0 auto;
}

.input-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-container li {
  text-align: center;
}

/* medium screen */
@media (min-width: 600px) {

}
