/* common */
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f2f2f2;
}

/* small screen */
/* header */
header {
  display: flex;
  padding: 0 16px;
  margin-top: 8px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  line-height: 48px;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  vertical-align: middle;
  font-size: 24px;
  line-height: 48px;
  cursor: pointer;
}

.sp-menu #open.hide{
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .9);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transition .3s;
}

.overlay.show li {
  opacity: 1;
  transform: translateY(16px);
}

.overlay a {
  text-decoration: none;
}

.pc-menu {
  display: none;
}

/* main */
.input-container {
  width: 60%;
  margin: 2em auto;
  text-align: center;
  padding: 0.5em 1em;
  border-top: solid 5px #5d627b;
  border-radius: 3px;
  background: whitesmoke;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.input-container > h2 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
}

.input-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-container li {
  text-align: center;
  padding-bottom: 8px;
}

.input-container li:first-child {
  padding: 8px 0;
}

.input-container #btn {
  display: block;
  margin: 0 auto;
}

/* カーソルを重ねる要素 */
.tooltip {
  position: relative; /* ツールチップの位置の基準に */
  cursor: pointer; /* カーソルを当てたときにポインターに */
}

/* ツールチップのテキスト */
.tooltip-text {
  width: 50vw;
  opacity: 0; /* はじめは隠しておく */
  visibility: hidden; /* はじめは隠しておく */
  position: absolute; /* 絶対配置 */
  left: 0; /* 親に対して中央配置 */
  transform: translateX(-60%); /* 親に対して中央配置 */
  bottom: -5px; /* 親要素下からの位置 */
  display: inline-block;
  padding: 5px; /* 余白 */
  white-space: normal; /* テキストを折り返さない */
  font-size: 0.8rem; /* フォントサイズ */
  line-height: 1.3; /* 行間 */
  background: #333; /* 背景色 */
  color: #fff; /* 文字色 */
  border-radius: 3px; /* 角丸 */
  transition: 0.3s ease-in; /* アニメーション */
}

/* ホバー時にツールチップの非表示を解除 */
.tooltip:focus .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.output-container {
  width: 60%;
  margin: 2em auto;
  text-align: center;
  padding: 0.5em 1em;
  border-top: solid 5px #5d627b;
  border-radius: 3px;
  background: whitesmoke;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.output-container > h2 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
  padding-top: 16px;
}


.output-container dl {
  margin: auto;
  padding: 8px 0;
  width: 100%;
}

.output-container dt {
  text-align: center;
  width: 100%;
  padding-bottom: 4px;
}

.output-container dd {
  text-align: center;
  margin: 0;
  width: 100%;
  padding-bottom: 4px;
}

/* medium screen */
@media (min-width: 600px) {
  /* header */
  header {
    margin-top: 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 32px;
    line-height: 64px;
  }

  .sp-menu #open {
    vertical-align: middle;
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
  }

  /* main */
    /* カーソルを重ねる要素 */
  .tooltip {
    position: relative; /* ツールチップの位置の基準に */
    cursor: pointer; /* カーソルを当てたときにポインターに */
  }

  /* ツールチップのテキスト */
  .tooltip-text {
    width: 35vw;
    opacity: 0; /* はじめは隠しておく */
    visibility: hidden; /* はじめは隠しておく */
    position: absolute; /* 絶対配置 */
    left: 0; /* 親に対して中央配置 */
    transform: translateX(0); /* 親に対して中央配置 */
    bottom: -5px; /* 親要素下からの位置 */
    display: inline-block;
    padding: 5px; /* 余白 */
    white-space: normal; /* テキストを折り返さない */
    font-size: 0.8rem; /* フォントサイズ */
    line-height: 1.3; /* 行間 */
    background: #333; /* 背景色 */
    color: #fff; /* 文字色 */
    border-radius: 3px; /* 角丸 */
    transition: 0.3s ease-in; /* アニメーション */
  }

  /* ホバー時にツールチップの非表示を解除 */
  .tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
  }

  .output-container dl {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .output-container dt {
    width: 48%;
    text-align: end;
  }
  
  .output-container dd {
    margin: 0;
    width: 48%;
    text-align: start;
  }
}
