/* common */
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f2f2f2;
}

/* small screen */
/* header */
header {
  display: flex;
  padding: 0 16px;
  margin-top: 8px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  line-height: 48px;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  vertical-align: middle;
  font-size: 24px;
  line-height: 48px;
  cursor: pointer;
}

.sp-menu #open.hide{
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .9);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transition .3s;
}

.overlay.show li {
  opacity: 1;
  transform: translateY(16px);
}

.overlay a {
  text-decoration: none;
}

.pc-menu {
  display: none;
}

/* main */
/* input */
.input-container {
  width: 60%;
  margin: 2em auto;
  text-align: center;
  padding: 0.5em 1em;
  border-top: solid 5px #5d627b;
  border-radius: 3px;
  background: whitesmoke;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.input-container > h2 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
}

.input-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-container li {
  text-align: center;
  padding-bottom: 8px;
}

.input-container li:first-child {
  padding: 8px 0;
}

/* help機能をアコーディオンで */
.input-container dl {
  margin-top: 0;
}

.input-container dl div {
  margin-bottom: 8px;
}

.input-container dt::after {
  content: "+";
  position: absolute;
  top: 1px;
  transition: transform .3s;
}

.input-container dl > div.appear dt::after {
  transform: rotate(45deg);
}

.input-container .help_info {
  padding: 8px;
  margin: 0;
  display: none;
}

.input-container dl > div.appear .help_info {
  display: block;
  animation: .3s fadeIn;
}

/* ヘルプ機能のレイアウト */
/* 線で囲んだボーダーレイアウト */
.input-container dl > div.appear ul {
  width: 60%;
  margin-top: 8px;
  left: 20%;
  position: relative;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.input-container dl > div.appear ul::before, div.appear ul::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

.input-container dl > div.appear ul::before{
  left: 10px;
}

.input-container dl > div.appear ul::after{
  right: 10px;
}

.input-container dl > div.appear li {
  padding: 8px;
}

/* 要素のレイアウト */
.input-container dt {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.input-container dd {
  padding: 0;
  margin: 0;
}

/* 計算ボタン */
.input-container #btn {
  display: block;
  margin: 0 auto;
}

/* output */
.output-container {
  width: 60%;
  margin: 2em auto;
  text-align: center;
  padding: 0.5em 1em;
  border-top: solid 5px #5d627b;
  border-radius: 3px;
  background: whitesmoke;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.output-container > h2 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
  padding-top: 16px;
}


.output-container dl {
  margin: auto;
  padding: 8px 0;
  width: 100%;
}

.output-container dt {
  text-align: center;
  width: 100%;
  padding-bottom: 4px;
}

.output-container dd {
  text-align: center;
  margin: 0;
  width: 100%;
  padding-bottom: 4px;
}

/* medium screen */
@media (min-width: 600px) {
  /* header */
  header {
    margin-top: 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 32px;
    line-height: 64px;
  }

  .sp-menu #open {
    vertical-align: middle;
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
  }

  /* main */
  /* input */
  .input-container dt::after {
    right: 16px;
  }

  /* output */
  .output-container dl {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .output-container dt {
    width: 48%;
    text-align: end;
  }
  
  .output-container dd {
    margin: 0;
    width: 48%;
    text-align: start;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}